<div class="mainContainer">
  <div class="menuBars">
    <div>
      <a  class="heading" routerLink="home">TravelAPP</a>
    </div>
    <div>
      <a routerLink="home">Home</a>
    </div>
    <div>
      <a>Book Tickets</a>
    </div>
    <div>
      <a>Travel Pakages</a>
    </div>
    <div>
      <a>About Us</a>
    </div>
    <div>
      <a>Contact Us</a>
    </div>
  </div>
  <div class="signUpContainer">
  <a>Sign Up</a>
  </div>
  </div>


  <div class="contentArea">

  <div class="homeContainer">
    <div>
      <a routerLink="/flight">Flight Booking</a>
    </div>
    <div>
      <a >Bus Booking</a>
    </div>
    <div>
      <a>Car Booking</a>
    </div>
    <div>
      <a routerLink="hotel">Hotel Booking</a>
    </div>
    </div>



<div class="outletContainer">
<router-outlet></router-outlet>
</div>

</div>
